@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

body {
  font-family: 'Urbanist', sans-serif !important;
}

.app-sidebar {
  max-width: 230px;
  width: 230px;
  height: 100vh;
  overflow-y: auto;
  float: left;
  width: 0;
  overflow: hidden;
  left: -100%;
  position: relative;
  transition: .3s ease;

  .responsive-sidebar-close-button {
    display: none;
  }

  @media(max-width: 860px) {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    z-index: 1000;

    .responsive-sidebar-close-button {
      display: block;
    }
  }

  &.active {
    left: 0;
    width: 100%;
  }
}

.app-content {
  width: calc(100% - 230px);
  min-width: calc(100% - 230px);
  height: 100vh;
  overflow-y: auto;
}

.app-divider {
  margin: 1rem 0;
  border: 1px solid rgba(255, 255, 255, 0.089);
}

.app-nav-icon {
  width: 25px;
  height: 25px;
}

.app-icon-table-size {
  width: 20px;
  height: 20px;
}

.app-box-item {
  .app-right-item {
    opacity: 0;
  }

  &:hover {
    .app-right-item {
      opacity: 1;
    }
  }
}

.selected {
  background: rgba(255, 255, 255, 0.1);
}

.scroll-style::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.151);
	border-radius: 10px;
}

.scroll-style::-webkit-scrollbar {
	width: 12px;
	background-color: none;
}

.scroll-style::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.342);

  &:hover {
    background-color: rgba(255, 255, 255, 0.651);
  }
}

@media(max-width: 1200px) {
  .md-column {
    flex-direction: column !important;
  }
}